<div class="side-header">
 <div class="user-name">
 <%=link_to current_user.name,edit_user_path(current_user)%>
 </div>
 <div class="create-chat-btn">
 <%=link_to "チャットを作成する",new_room_path%>
 </div>
</div>

<div class="side-main">

<% user= User.find(current_user.id)%>
<% user.rooms.each do |room| %>
<div class="chatroom">
<a href="/messages"><%= room.name %></a>
</div>
<%end%>

</div>
